
body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  color: var(--text-color);
}

h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
  color: var(--text-color);
}

main {
  max-width: 60rem;
  margin: auto;
}

p, li {
  font-size: 1rem;
  color: var(--border-color);
  opacity: 0.8;
}

li {
  margin: 1rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

.category-list, .tag-list {
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  overflow: hidden;
}

.category-list h3, .tag-list h3 {
  color: var(--highlight);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px var(--text-shadow-muted);
  text-transform: uppercase;
}

.category-list ul, .tag-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.category-list li, .tag-list li {
  display: inline-block;
  margin: 10px;
}

.category-list .category, .tag-list .tag {
  background-color: var(--accent);
  border: 4px solid var(--highlight);
  border-radius: 20px;
  color: var(--text-dark-color);
  display: inline-block;
  font-size: 1.5rem;
  padding: 5px 20px;
  text-shadow: 1px 1px 0 var(--text-shadow-muted);
  transition: background-color 0.5s ease, font-size 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
}

.category-list .category:hover, .tag-list .tag:hover {
  background-color: var(--hover);
  color: var(--text-color);
  text-shadow: none;
  font-size: 1.6rem;
  font-weight: 900;
}

/* Remove underline from buttons */
.category-list .category, .tag-list .tag {
  text-decoration: none;
}

/* Container for the pagination */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin: 20px 0;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination a, .pagination span {
  padding: 8px 12px;
  text-decoration: none;
  background-color: var(--accent);
  color: var(--text-color);
  border-radius: 5px;
  display: block;
}

.pagination a.active {
  background-color: var(--highlight);
  color: var(--text-color);
  font-weight: bold;
}

.pagination a:hover {
  background-color: var(--hover);
}

.pagination .disabled a {
  background-color: var(--background-muted);
  pointer-events: none;
  opacity: 0.5;
}

.pagination span {
  background-color: transparent;
  color: var(--text-dark-color);
}

.grid-container {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 60rem; 
  margin: 20px auto;
}

@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 999px) and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: var(--background-muted);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--box-shadow);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-item:hover {
  transform: translateY(-10px);
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.image-container {
  width: 100%;
  height: 150px;
  background-color: var(--background-muted);
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: var(--highlight);
}

.description {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--text-shadow-muted);
  flex-grow: 1;
}

.read-more {
  background-color: var(--hover);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: var(--link-hover-color);
}

.search-bar {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}