---
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Post {
  frontmatter: {
    tags: string | string[];
    title: string;
  };
  url: string;
}

// Fetch posts based on the tag dynamically using SSR
export async function get({ params }) {
  const allPosts: any[] = await Astro.glob('../posts/*.md');

  const filteredPosts = allPosts.filter(post => {
    const tags = post.frontmatter.tags;
    if (typeof tags === 'string') {
      return tags.split(',').map(tag => tag.trim()).includes(params.tag);
    } else if (Array.isArray(tags)) {
      return tags.map(tag => tag.trim()).includes(params.tag);
    } else {
      return false;
    }
  });

  return {
    props: { posts: filteredPosts, tag: params.tag },
  };
}
---

<BaseLayout pageTitle={`Posts tagged with "${Astro.props.tag}"`}>
  <p>Posts tagged with {Astro.props.tag}</p>
  <ul>
    {Astro.props.posts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))}
  </ul>
</BaseLayout>
