---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = 'Tag Index';
const allPosts = await Astro.glob('../posts/*.md');

const tags = [
  ...new Set(allPosts.flatMap((post) => {
    const tags = post.frontmatter.tags;
    if (typeof tags === 'string') {
      return tags.split(',').map(tag => tag.trim());
    } else if (Array.isArray(tags)) {
      return tags.map(tag => tag.trim());
    } else {
      return [];
    }
  })),
];

export const prerender = true; // Ensure this page is pre-rendered during the build
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tag-list">
    <h3>Tags</h3>
    <ul>
      {tags.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
